In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Harper,LR,75.51,light rain,4.3750,-7.7169,Screensaver
1,1,Rikitea,PF,70.29,few clouds,-23.1203,-134.9692,People ThankYou
2,3,Coruripe,BR,74.41,few clouds,-10.1256,-36.1756,Pousada e Hotel Litoral Sul
3,5,Sahawar,IN,72.50,overcast clouds,27.8000,78.8500,कलुआ नगला
4,6,Port Augusta,AU,69.71,clear sky,-32.5000,137.7667,Majestic Oasis Apartments

In [4]:
vacation_df.dtypes

City_ID                  int64
City                    object
Country                 object
Max Temp               float64
Current Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[['Lat', 'Lng']]

In [6]:
# Add a marker layer for each city to the map.
current_weather = vacation_df["Current Description"]
fig = gmaps.figure(center=(27.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df['City'] == "Katsuura"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Katsuura"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Tanabe"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Kushikino"]
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Sakaiminato"]

In [8]:

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
118,253,Katsuura,JP,59.02,light rain,35.1333,140.3,Katsuura Hotel Mikazuki

In [9]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
118,253,Katsuura,JP,59.02,light rain,35.1333,140.3,Katsuura Hotel Mikazuki

In [10]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
176,371,Tanabe,JP,67.21,broken clouds,33.7333,135.3667,美吉屋旅館

In [11]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
321,654,Kushikino,JP,69.26,overcast clouds,31.7167,130.2667,Tajiri Inn

In [12]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
168,358,Sakaiminato,JP,66.18,broken clouds,35.55,133.2333,Italian pasley

In [13]:
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (35.1333, 140.3), End: (35.1333, 140.3)
Stop 1: (33.7333, 135.3667), Stop 2: (31.7167, 130.2667), Stop 3: (35.55, 133.2333)

In [14]:
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df
Out

{3:    City_ID          City Country  Max Temp Current Description      Lat  \
 0        0        Harper      LR     75.51          light rain   4.3750
 1        1       Rikitea      PF     70.29          few clouds -23.1203
 2        3      Coruripe      BR     74.41          few clouds -10.1256
 3        5       Sahawar      IN     72.50     overcast clouds  27.8000
 4        6  Port Augusta      AU     69.71           clear sky -32.5000

         Lng                   Hotel Name
 0   -7.7169                  Screensaver
 1 -134.9692              People ThankYou
 2  -36.1756  Pousada e Hotel Litoral Sul
 3   78.8500                    कलुआ नगला
 4  137.7667    Majestic Oasis Apartments  ,
 4: City_ID                  int64
 City                    object
 Country                 object
 Max Temp               float64
 Current Description     object
 Lat                    float64
 Lng                    float64
 Hotel Name              object
 dtype: object,
 6: Figure(layout=FigureLayout(height='420px')),
 8:      City_ID      City Country  Max Temp Current Description      Lat    Lng  \
 118      253  Katsuura      JP     59.02          light rain  35.1333  140.3

                   Hotel Name
 118  Katsuura Hotel Mikazuki  ,
 9:      City_ID      City Country  Max Temp Current Description      Lat    Lng  \
 118      253  Katsuura      JP     59.02          light rain  35.1333  140.3

                   Hotel Name
 118  Katsuura Hotel Mikazuki  ,
 10:      City_ID    City Country  Max Temp Current Description      Lat       Lng  \
 176      371  Tanabe      JP     67.21       broken clouds  33.7333  135.3667

     Hotel Name
 176      美吉屋旅館  ,
 11:      City_ID       City Country  Max Temp Current Description      Lat  \
 321      654  Kushikino      JP     69.26     overcast clouds  31.7167

           Lng  Hotel Name
 321  130.2667  Tajiri Inn  ,
 12:      City_ID         City Country  Max Temp Current Description    Lat  \
 168      358  Sakaiminato      JP     66.18       broken clouds  35.55

           Lng      Hotel Name
 168  133.2333  Italian pasley  ,
 14: Figure(layout=FigureLayout(height='420px'))}

In [16]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

In [17]:
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map.
current_weather = vacation_df["Current Description"]
fig = gmaps.figure(center=(27.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))