# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Harper,LR,75.51,light rain,4.3750,-7.7169,Screensaver
1,1,Rikitea,PF,70.29,few clouds,-23.1203,-134.9692,People ThankYou
2,3,Coruripe,BR,74.41,few clouds,-10.1256,-36.1756,Pousada e Hotel Litoral Sul
3,5,Sahawar,IN,72.50,overcast clouds,27.8000,78.8500,कलुआ नगला
4,6,Port Augusta,AU,69.71,clear sky,-32.5000,137.7667,Majestic Oasis Apartments

In [ ]:
vacation_df.dtypes

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [4]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[['Lat', 'Lng']]

In [5]:
# Add a marker layer for each city to the map.
current_weather = vacation_df["Current Description"]
fig = gmaps.figure(center=(27.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [17]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df['City'] == "Katsuura"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Katsuura"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Tanabe"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Kushikino"]
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Sakaiminato"]

In [18]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
118,253,Katsuura,JP,59.02,light rain,35.1333,140.3,Katsuura Hotel Mikazuki

In [19]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
168,358,Sakaiminato,JP,66.18,broken clouds,35.55,133.2333,Italian pasley

In [20]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
321,654,Kushikino,JP,69.26,overcast clouds,31.7167,130.2667,Tajiri Inn

In [21]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
176,371,Tanabe,JP,67.21,broken clouds,33.7333,135.3667,美吉屋旅館

In [22]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
118,253,Katsuura,JP,59.02,light rain,35.1333,140.3,Katsuura Hotel Mikazuki

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [23]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[1], vacation_start['Lng'].to_numpy()[2]
end = vacation_start['Lat'].to_numpy()([1], vacation_start['Lng'].to_numpy()[2]
print(f'Start: {start}, End: {end}')

stop1 = vacation_stop1['Lat'].to_numpy()[1], vacation_stop1['Lng'].to_numpy()[2]
stop2 = vacation_stop2['Lat'].to_numpy()[1], vacation_stop2['Lng'].to_numpy()[2]
stop3 = vacation_stop3['Lat'].to_numpy()[1], vacation_stop3['Lng'].to_numpy()[2]

print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}');

SyntaxError: invalid syntax (4136303191.py, line 4)

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [ ]:
# Define a new figure object
fig = fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)

fig

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [ ]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [ ]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# Add a marker layer for each city to the map.
marker_layer = current_weather = vacation_df["Current Description"]
fig = gmaps.figure(center=(27.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

In [ ]:
vacation_df['Max Temp'] = vacation_df['Max Temp'].astype(int)
vacation_df['Lat'] = vacation_df['Lat'].astype(int)
vacation_df['Lng'] = vacation_df['Lng'].astype(int)